<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.bibquery</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>007D3280-6662-45B5-B128-0C82C1F96CEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B63DCC0-C0F1-4218-8659-FF1EF07C93C6</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>612186D2-2318-48E1-A9A1-0EED2243E471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EB939BD-5810-4B35-839A-7EB4FA45CA22</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>042CDC72-6EB0-4A43-BA07-D9CB33B00F79</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31E368CE-6D8B-45BF-8677-78BAE8D4A647</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0A96B11F-0FC1-4DB4-A582-1785E5166772</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C2029D8-0C12-4847-837F-84555D16BB43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>16E0B47A-5652-4280-8671-BB8B9F9C9507</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9804A974-0CBA-4060-899A-84B9C36195F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1BDE87B3-A48F-467E-A265-D71CD33B8B65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CFDA66A-A5CB-485C-A147-50FAAD40E974</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1D6131DE-762C-49A5-9E33-ADAC6346127D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CABBCD99-A9E8-4FB1-9340-8AC85D4985D4</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96AC2F17-EC2E-4DFF-AA9F-280AF7215495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EC8B14E-C5FC-4834-B3EB-14CF1A1775A9</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>24B1B7E1-C7BA-4D76-ABB8-84AF19330B93</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>042CDC72-6EB0-4A43-BA07-D9CB33B00F79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2B63DCC0-C0F1-4218-8659-FF1EF07C93C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55E37A6F-C131-4047-9B96-139DFF2EF09A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>33300AAB-29B1-434D-947F-EE0FB5CCE9ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A96B11F-0FC1-4DB4-A582-1785E5166772</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E74C3BCA-7D86-4441-BA1A-AA153F9D2FFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC312882-44B0-443D-AB87-98D59E98DF94</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>392B6ED4-9952-4A3C-8B04-7807AE99263C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEE5A268-6D8C-4270-9D5A-F93EAFAF58C0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34BB1736-3F1F-45B5-8225-D42C2BA25DA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60633BC6-3EB1-4DD4-901B-B569271A93D8</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>4ADF26C0-E3A7-4787-AC20-08296C4D1598</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEE5A268-6D8C-4270-9D5A-F93EAFAF58C0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>34BB1736-3F1F-45B5-8225-D42C2BA25DA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>60633BC6-3EB1-4DD4-901B-B569271A93D8</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>65CB8D8C-55EA-4F96-AC1E-2BF2C7F9FE58</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BDE87B3-A48F-467E-A265-D71CD33B8B65</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1D4E634-6E8A-42A6-A54C-2C8923E2A646</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>39875144-A0E2-4C09-A226-096F578C0A7F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>6CEC3D86-777F-492D-A871-414F51337FB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2B63DCC0-C0F1-4218-8659-FF1EF07C93C6</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>612186D2-2318-48E1-A9A1-0EED2243E471</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EB939BD-5810-4B35-839A-7EB4FA45CA22</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>8E4F884F-E293-489D-BF96-68026983EE7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0B94AED-46CC-4991-9CEF-4B775B470E01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>93B5BAB1-40A3-49C7-9F84-9DB45774800B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0B94AED-46CC-4991-9CEF-4B775B470E01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>BAF19975-A029-4856-91FF-6E2DF5A12246</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A96B11F-0FC1-4DB4-A582-1785E5166772</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E74C3BCA-7D86-4441-BA1A-AA153F9D2FFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DC312882-44B0-443D-AB87-98D59E98DF94</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>BEE5A268-6D8C-4270-9D5A-F93EAFAF58C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF76090D-B39C-41B6-B016-789120EBAD30</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C0B94AED-46CC-4991-9CEF-4B775B470E01</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>699BB866-BB16-4B12-BE5E-45D28D23F495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C4869A82-ED01-484D-9E11-B2CE512C56EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CABBCD99-A9E8-4FB1-9340-8AC85D4985D4</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>96AC2F17-EC2E-4DFF-AA9F-280AF7215495</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EC8B14E-C5FC-4834-B3EB-14CF1A1775A9</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>CABBCD99-A9E8-4FB1-9340-8AC85D4985D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>899DC11B-4940-4BC1-8BA9-367534A0C2FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DCB18DD1-4F77-4946-83BA-2BCFE5985BD9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1BDE87B3-A48F-467E-A265-D71CD33B8B65</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Export LaTeX Cite Command</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1D4E634-6E8A-42A6-A54C-2C8923E2A646</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>39875144-A0E2-4C09-A226-096F578C0A7F</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Open Attachment</string>
			</dict>
		</array>
		<key>EEEE73AE-EBB9-483B-AE41-8882F14B3CCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>042CDC72-6EB0-4A43-BA07-D9CB33B00F79</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Search your BibDesk Library (v. 1.0)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BibQuery</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>Title Query</string>
				<key>text</key>
				<string>Search BibQuery for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>16E0B47A-5652-4280-8671-BB8B9F9C9507</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "bib:t " &amp; "{query}"</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9804A974-0CBA-4060-899A-84B9C36195F3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LaTeX Citation Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0C2029D8-0C12-4847-837F-84555D16BB43</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "cite"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A96B11F-0FC1-4DB4-A582-1785E5166772</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bib</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "general"</string>
				<key>subtext</key>
				<string>General Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BAF19975-A029-4856-91FF-6E2DF5A12246</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "open"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E74C3BCA-7D86-4441-BA1A-AA153F9D2FFC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>b</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "general"</string>
				<key>subtext</key>
				<string>General Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>33300AAB-29B1-434D-947F-EE0FB5CCE9ED</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "att"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DC312882-44B0-443D-AB87-98D59E98DF94</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "cite"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BDE87B3-A48F-467E-A265-D71CD33B8B65</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LaTeX Citation Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5CFDA66A-A5CB-485C-A147-50FAAD40E974</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bib:t</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "titles"</string>
				<key>subtext</key>
				<string>Title Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DCB18DD1-4F77-4946-83BA-2BCFE5985BD9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "open"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1D4E634-6E8A-42A6-A54C-2C8923E2A646</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "att"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39875144-A0E2-4C09-A226-096F578C0A7F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bt</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "titles"</string>
				<key>subtext</key>
				<string>General Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>65CB8D8C-55EA-4F96-AC1E-2BF2C7F9FE58</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "cite"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CABBCD99-A9E8-4FB1-9340-8AC85D4985D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LaTeX Citation Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>899DC11B-4940-4BC1-8BA9-367534A0C2FA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bib:a</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "creators"</string>
				<key>subtext</key>
				<string>Authors Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C4869A82-ED01-484D-9E11-B2CE512C56EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "open"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>96AC2F17-EC2E-4DFF-AA9F-280AF7215495</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "att"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4EC8B14E-C5FC-4834-B3EB-14CF1A1775A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ba</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "creators"</string>
				<key>subtext</key>
				<string>Authors Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1D6131DE-762C-49A5-9E33-ADAC6346127D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LaTeX Citation Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>DF76090D-B39C-41B6-B016-789120EBAD30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bib:ng</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "in-group"</string>
				<key>subtext</key>
				<string>In-Group Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>392B6ED4-9952-4A3C-8B04-7807AE99263C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "cite"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BEE5A268-6D8C-4270-9D5A-F93EAFAF58C0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "open"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>34BB1736-3F1F-45B5-8225-D42C2BA25DA0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bng</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "in-group"</string>
				<key>subtext</key>
				<string>In-Group Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4ADF26C0-E3A7-4787-AC20-08296C4D1598</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "att"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>60633BC6-3EB1-4DD4-901B-B569271A93D8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bib:nk</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "in-keyword"</string>
				<key>subtext</key>
				<string>In-Group Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>007D3280-6662-45B5-B128-0C82C1F96CEE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "cite"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2B63DCC0-C0F1-4218-8659-FF1EF07C93C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>LaTeX Citation Copied!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>55E37A6F-C131-4047-9B96-139DFF2EF09A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "open"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>612186D2-2318-48E1-A9A1-0EED2243E471</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bnk</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "in-keyword"</string>
				<key>subtext</key>
				<string>In-Group Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6CEC3D86-777F-492D-A871-414F51337FB9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "att"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5EB939BD-5810-4B35-839A-7EB4FA45CA22</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bib:k</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "keywords"</string>
				<key>subtext</key>
				<string>Keywords Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8E4F884F-E293-489D-BF96-68026983EE7D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "save_keyword"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C0B94AED-46CC-4991-9CEF-4B775B470E01</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "bib:nk "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>699BB866-BB16-4B12-BE5E-45D28D23F495</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bk</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "keywords"</string>
				<key>subtext</key>
				<string>Keywords Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>93B5BAB1-40A3-49C7-9F84-9DB45774800B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bib:g</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "groups"</string>
				<key>subtext</key>
				<string>Groups Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>24B1B7E1-C7BA-4D76-ABB8-84AF19330B93</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>tell application "Alfred 2" to search "bib:ng "</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>31E368CE-6D8B-45BF-8677-78BAE8D4A647</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python actions.py "{query}" "save_group"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>042CDC72-6EB0-4A43-BA07-D9CB33B00F79</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>bg</string>
				<key>runningsubtext</key>
				<string>Searching BibDesk...</string>
				<key>script</key>
				<string>python bibquery.py "{query}" "groups"</string>
				<key>subtext</key>
				<string>Groups Query</string>
				<key>title</key>
				<string>Search your BibDesk library</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>EEEE73AE-EBB9-483B-AE41-8882F14B3CCB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>007D3280-6662-45B5-B128-0C82C1F96CEE</key>
		<dict>
			<key>ypos</key>
			<real>1470</real>
		</dict>
		<key>042CDC72-6EB0-4A43-BA07-D9CB33B00F79</key>
		<dict>
			<key>ypos</key>
			<real>2080</real>
		</dict>
		<key>0A96B11F-0FC1-4DB4-A582-1785E5166772</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>0C2029D8-0C12-4847-837F-84555D16BB43</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>16E0B47A-5652-4280-8671-BB8B9F9C9507</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>1BDE87B3-A48F-467E-A265-D71CD33B8B65</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>1D6131DE-762C-49A5-9E33-ADAC6346127D</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>24B1B7E1-C7BA-4D76-ABB8-84AF19330B93</key>
		<dict>
			<key>ypos</key>
			<real>2030</real>
		</dict>
		<key>2B63DCC0-C0F1-4218-8659-FF1EF07C93C6</key>
		<dict>
			<key>ypos</key>
			<real>1470</real>
		</dict>
		<key>31E368CE-6D8B-45BF-8677-78BAE8D4A647</key>
		<dict>
			<key>ypos</key>
			<real>2080</real>
		</dict>
		<key>33300AAB-29B1-434D-947F-EE0FB5CCE9ED</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>34BB1736-3F1F-45B5-8225-D42C2BA25DA0</key>
		<dict>
			<key>ypos</key>
			<real>1240</real>
		</dict>
		<key>392B6ED4-9952-4A3C-8B04-7807AE99263C</key>
		<dict>
			<key>ypos</key>
			<real>1140</real>
		</dict>
		<key>39875144-A0E2-4C09-A226-096F578C0A7F</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>4ADF26C0-E3A7-4787-AC20-08296C4D1598</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>4EC8B14E-C5FC-4834-B3EB-14CF1A1775A9</key>
		<dict>
			<key>ypos</key>
			<real>1010</real>
		</dict>
		<key>55E37A6F-C131-4047-9B96-139DFF2EF09A</key>
		<dict>
			<key>ypos</key>
			<real>1470</real>
		</dict>
		<key>5CFDA66A-A5CB-485C-A147-50FAAD40E974</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>5EB939BD-5810-4B35-839A-7EB4FA45CA22</key>
		<dict>
			<key>ypos</key>
			<real>1670</real>
		</dict>
		<key>60633BC6-3EB1-4DD4-901B-B569271A93D8</key>
		<dict>
			<key>ypos</key>
			<real>1340</real>
		</dict>
		<key>612186D2-2318-48E1-A9A1-0EED2243E471</key>
		<dict>
			<key>ypos</key>
			<real>1570</real>
		</dict>
		<key>65CB8D8C-55EA-4F96-AC1E-2BF2C7F9FE58</key>
		<dict>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>699BB866-BB16-4B12-BE5E-45D28D23F495</key>
		<dict>
			<key>ypos</key>
			<real>1860</real>
		</dict>
		<key>6CEC3D86-777F-492D-A871-414F51337FB9</key>
		<dict>
			<key>ypos</key>
			<real>1670</real>
		</dict>
		<key>899DC11B-4940-4BC1-8BA9-367534A0C2FA</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>8E4F884F-E293-489D-BF96-68026983EE7D</key>
		<dict>
			<key>ypos</key>
			<real>1810</real>
		</dict>
		<key>93B5BAB1-40A3-49C7-9F84-9DB45774800B</key>
		<dict>
			<key>ypos</key>
			<real>1910</real>
		</dict>
		<key>96AC2F17-EC2E-4DFF-AA9F-280AF7215495</key>
		<dict>
			<key>ypos</key>
			<real>910</real>
		</dict>
		<key>9804A974-0CBA-4060-899A-84B9C36195F3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>BAF19975-A029-4856-91FF-6E2DF5A12246</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>BEE5A268-6D8C-4270-9D5A-F93EAFAF58C0</key>
		<dict>
			<key>ypos</key>
			<real>1140</real>
		</dict>
		<key>C0B94AED-46CC-4991-9CEF-4B775B470E01</key>
		<dict>
			<key>ypos</key>
			<real>1860</real>
		</dict>
		<key>C4869A82-ED01-484D-9E11-B2CE512C56EE</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>CABBCD99-A9E8-4FB1-9340-8AC85D4985D4</key>
		<dict>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>DC312882-44B0-443D-AB87-98D59E98DF94</key>
		<dict>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>DCB18DD1-4F77-4946-83BA-2BCFE5985BD9</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>DF76090D-B39C-41B6-B016-789120EBAD30</key>
		<dict>
			<key>ypos</key>
			<real>1140</real>
		</dict>
		<key>E74C3BCA-7D86-4441-BA1A-AA153F9D2FFC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>EEEE73AE-EBB9-483B-AE41-8882F14B3CCB</key>
		<dict>
			<key>ypos</key>
			<real>2130</real>
		</dict>
		<key>F1D4E634-6E8A-42A6-A54C-2C8923E2A646</key>
		<dict>
			<key>ypos</key>
			<real>580</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
